/.DS_Store
/Coding_Dojo_Responsibilities_Planning.pdf
/Mendieta_Brignie_JS_CreateVariables.js.zip
/Mendieta_Brignie_LoopDLoop.html.zip
/Screen Shot 2022-07-06 at 7.17.48 PM.zip
/Testing_Javascript.html.zip
/VS_Code_Extensions.js
/VS_Code_Extensions.js.zip
/keyboard commands.txt